.container {
    width: 1170px;
    margin: 0 auto;
}
.text-selected{
    color:  #f1ad1d;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.section-title{
    font-family: Montserrat, sans-serif;
    color:  #333333;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
}
.text-white{
    color: #ffffff;
}
.section-description{
    font-family: Lato, sans-serif;
    color:  #4d4943;
    font-size: 17px;
    margin-bottom: 52px;
    text-align: center;
}
.decoration-underline::after{
    content: "";
    display: block;
    background-color:#f1ad1d;
    width: 60px;
    height: 3px;
    border: none;
    margin: 30px auto 0;
}
.main-header {
    background-image: url("../images/Layer\ 21.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 531px;
    padding-bottom: 145px;
}

.header-title {
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.header-company-description {
    font-family: Lato, sans-serif;
    color:  #ffffff;
    font-size: 18px;
    margin-bottom: 28px;
}

.header-slogan {
    width: 800px;
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 44px 30px;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0.5);
}

/*AWARDS START*/
.awards-section{
    padding-top: 72px;
    padding-bottom: 47px;
}



.section-description-line{
    background-color:  #f1ad1d;
    width: 60px;
    height: 3px;
    border: none;
}
.awards-list {
    text-align: center;
    padding-top: 50px;

}

.awards-list img {
    max-width: 100%;
    margin: 0 15px;
}
/*AWARDS END*/

/*NAVBAR START*/

.navbar {
    padding-top: 47px;
    padding-bottom: 63px;
}
.navbar-logo{
    float: left;
}

.navbar-menu {
    float: right;
    margin-top: 4px;
}

.navbar-menu-item {
    display: inline-block;
    margin-right: 66px;
}

.navbar-menu-link{
    font-family: ﻿Lato-Regular, sans-serif;
    font-size: 18px;
    color: rgba(61, 61, 61, 255);
    text-transform: uppercase;
    text-decoration: none;
    display:inline-block;
}
.navbar-menu-link:hover{
    color:#f1ad1d;
}
.navbar-menu-link::after{
    content: "";
    border: 5px solid transparent;
    border-top: 5px solid #f1ad1d;
    position: relative;
    top: 13px;
    left: 5px;

}

.navbar-bottom-line{
    background-color:#f1ad1d;
    height: 3px;
    border: none;
    margin-top: 22px;
}
/*NAVBAR END*/
.features{
    padding-top: 63px;
    padding-bottom: 124px;
}
.features-content {
    margin-top: 57px;
}
.feature-item {
   
    float: left;
    position: relative;
}
.feature-item:nth-child(odd){
    margin-right: 20px;
}
.features-list {
    width: 570px;
    float: left;

}
.feature-description {
    width: 570px;
    float: right;
}
.feature-name {
    background-color: black;
    color: white;
    font-size: 14px;
    font-family: Lato, sans-serif;
    padding: 15px 14px;
    width: 117px;
    position: absolute;
    left: 15px;
    bottom:11px;
    /* z-index:100; */

    /*display: inline-block;*/
}
.feature-description-title{

    font-family: Montserrat, sans-serif;
    color:  #333333;
    font-size: 18px;/* Approximation due to font substitution */
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 26px;
}
.feature-description-text{
    margin-bottom: 35px;
    font-family: Lato, sans-serif;
    color:  #505050;
    font-size: 14px;/* Approximation due to font substitution */
    font-weight: 300;
    line-height: 22px;
}
.btn{
    display: inline-block;
    font-family: Lato,sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    background-color:  #f1ad1d;
    text-decoration: none;
    border: 1px solid  #f1ad1d;
    transition:0.4s;
}
.btn:hover{
    background-color: #fff;
    color:  #f1ad1d;
  
}
.btn-project{
    padding: 20px 27px;
}
.slogan1 {
    background-image: url("../images/bg-slogan-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
}

.company-team {
    padding-top: 114px;
    padding-bottom: 104px;
}

.team-list {
    margin-top: 53px;
}

.team-item {
    float: left;
    width: 193px;
    margin-right: 2px;
    margin-bottom: 2px;
}
.team-item:nth-child(6n){
    margin-right: 0;
}

.team-link{
    position: relative;
}
.team-person-name {
    background-color:  #333333;
    padding: 14px 55px 14px 15px;
    font-family: Lato, sans-serif;
    color:  #ffffff;
    font-size: 14px;
    display: inline-block;
    opacity: 0;
    transition: 1s;
    position: absolute;
    left: 15px;
    bottom: 12px
}
.team-item:hover .team-person-name{
    opacity: 1;
}

/* FEATURE DETAIL START */

.features-details {
    padding: 104px 0;
}

.feature-details-list {
    margin-top: 46px;
}

.feature-detail-item {
    float: left;
    width: 271px;
    margin-right: 28px;
    border-bottom: 2px solid black;
    padding-bottom: 34px;
}
.feature-detail-item:nth-child(4n){
    margin-right: 0;
}


.feature-item-title {
    font-family: "Montserrat", sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    background-color:  #333333;
    padding: 19px 0;
    /*height: 56px;*/
    /*line-height: 56px;*/
    margin-bottom: 30px;
}

.feature-details-description {
    font-family: "Lato", sans-serif;
    color:  #505050;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    line-height: 17px;
    height: 91px;
}

.feature-details-submenu-name {
    font-family: "Lato", sans-serif;
    color:  #505050;
    font-size: 18px;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 16px;
}


.feature-item-icon {
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.feature-details-submenu-item {
    text-align: center;
    margin-bottom: 7px;
}

.feature-details-submenu-link {
    font-family: "Lato", sans-serif;
    color:  #505050;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
}

/* FEATURE DETAIL END */

/* Reviews start */
.reviews{
    padding-top: 150px;
    padding-bottom: 133px;
}
.review-item{
    float: left;
    margin-right: 30px;
    width: 370px;
}
.review-item:nth-child(3n){
    margin-right: 0;
}
.review-text{
    font-family: Lato;
    color:  #5b5b5b;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: justify;
    padding-bottom: 30px;
    border-bottom: 3px solid #000;
    margin-bottom: 15px;
    position: relative;
}

.review-text::before{
    content: "";
    background-image: url(../images/quotes.png);
    display:block;
    width: 52px;
    height: 48px;
    margin-bottom: 20px;
}
.review-text::after{
    content:"";
    display: block;
    background-color: orange;
    height: 3px;
    position: absolute;
    top: 34px;
    right: 0;
    width: 305px;
    
}
.review-author-photo{
    float:left;
    margin-right: 15px;
}
.review-author-name{
    display: block;
    padding-top: 13px;
    font-family: Lato,sans-serif;
    color:  #313131;
    font-size: 14px;

}
.review-author-position{
    display: block;
    font-family: Lato;
    color:  #5b5b5b;
    font-size: 14px;
    font-weight: 300;
}
/* Reviews start */
/* Start table */
.pricing-table{
    padding-top:128px;
    padding-bottom: 74px;
}
.pricing-offers{
    width: 1140px;
    margin: 0 auto;
    background-color:#f8fcfe;
    
}
.pricing-offers th, .pricing-offers td{
    border:1px solid #e3e3e3;
}

.pricing-offer-name{
    padding: 25px 0;
    font-family: "Montserrat", sans-serif;
    color: #333333;
    font-size: 24px; 
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    width: 25%;
}

.pricing-offer-name.selected{
    color:aqua;
}
.offer-cost{
    padding: 35px 0;
    text-align: center;
    font-family: "Montserrat",sans-serif;
    color:  #ffffff;
    font-size: 40px;
    font-weight: 700;
    background-color: #000;
}
.offer-cost.selected{
    background-color: aqua;
}
.offer-cost span::after{
    content:"/month";
    font-size: 20px;
    font-weight: normal;
}
.pricing-offer-item{
    font-family: "Montserrat", sans-serif;
    color:  #333333;
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
}
.buy-now-button{
    text-align: center;
    padding: 28px 0;
   
}
.buy-now-button a{
    display: inline-block;
    padding: 20px 50px;
    background-color:black;
    font-family: "Montserrat",sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
}
.buy-now-button.selected a{
    background-color: aqua;
}